{% extends 'base.html' %}
{% block head %}
<h1> File Compressor </h1>
{% endblock %}


{% block body %}
<div class="content">
    <h2> Select file to compress </h2>
    <form action = "uploader" method = "POST" 
          enctype = "multipart/form-data">
        <input type = "file" name = "file" />
        <input type = "submit"/>
    </form>
    <br/>
    <table class="table">
        <tr>
            <td>File</td>
            <td>Action</td>
        </tr>
        {% for file in files %}
        <tr>
            <td>{{ file.file_name }}</td>
            <td >
                <a type="button" class="btn btn-danger" href="/delete/{{file.id}}">Delete</a>
                <a type="button" class="btn btn-success" href="/compress/{{file.id}}">Compress</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
